
<ion-content>
    <section class="blue">
      <h1>Nice Curves!</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
      <div class="curve"></div>
    </section>

    <section class="white">
      <div class="titulo-white">Imprimí con potencia.</div>
      <img src="assets/blob-haikei.svg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </section>

    <section class="dark">
      <h1>Nice Curves!</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
    </section>

    <section class="red">
      <h1>Nice Curves!</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
    </section>

    <ion-footer>
      <h1>MADE BY: MARCOS IORIO</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
    </ion-footer>

</ion-content>
