h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: -20px;
  }
  ion-body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
  }

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
  }

  .blue {
    background: blue;
  }

  .red {
    background: #dd3f31;
  }

  section.white{
    padding: 0 !important;
    height: 100px;
    div.titulo-white{
      font-size: 30px;
      color: #333;
      margin-top: 15px;
    }
  }

  .white{
    background: white;
    img{
      position: relative;
      height: 80%;
    }
  }


  .dark {
    background: black;
  }

  /* SVGS */



/* FOOTER */

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
}
