body{
    background-color: darkgrey;
  }
  
  label{
    margin-top: 5vh;
    font-family:'Franklin Gothic Medium';  
    font-style: oblique;
    color: white;
  }
  .centrar{
    justify-content: center;
    top: 200px; 
  }
  