<div class="mod-prod">
  <a [routerLink] = "['/tienda']"><ion-icon class="volver-atras" name="arrow-back-outline"></ion-icon></a>
  <ion-label for="titulo" position="floating">Nombre del Producto:</ion-label>
      <ion-input type="text" class="editar-input" [(ngModel)]="nombreProd" name="titulo-producto" id=""></ion-input><br>
  <ion-label for="titulo" position="floating">Stock:</ion-label>
      <ion-input type="number" class="editar-input" [(ngModel)]="precio" name="titulo-producto" id=""></ion-input><br>
  <ion-label for="titulo">Precio:</ion-label>
      <ion-input type="number" class="editar-input" [(ngModel)]="stock" name="titulo-producto" id=""></ion-input><br>

  <ion-button type="submit" (click)="modificarProd()">Modificar</ion-button>
</div>
