<div class="lista-productos">
  <div *ngFor="let prod of productos">
    <div id="producto">
      <h2 id="titulo-prod">{{prod.nombre_prod}}</h2>
      <div class="separador"></div>
      <p id="cat-prod">Categoria: <span>{{prod.categoria}}</span></p>
      <p id="stock-prod">Stock: <span>{{prod.stock}}</span></p>
      <p id="precio-prod">$<span>{{prod.precio}}</span></p>
      <div id="botones">
        <ion-button type="button" color="danger" (click)="borrarProducto(prod.prodID)"  name="producto" [id]="prod.nombre_prod"><ion-icon class="icono-borrar" name="trash-outline"></ion-icon></ion-button>
        <a [routerLink] = "['editar', prod.prodID]"><ion-button color="success"><ion-icon class="icono-editar" name="create-outline"></ion-icon></ion-button></a>
      </div>
    </div>
  </div>
</div>
