label{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.mod-prod{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

button{
    margin-top: 50px !important;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border: none;
    background: rgba(156, 156, 156, 0.397);
    border-bottom: 3px solid #333;
    color: white
}

input{
    width: 250px;
}

.fas.fa-arrow-left{
    position: absolute;
    left: 40px;
    top: 70px;
    color: #333;
    font-size: 40px;
}